HOST = HostUri

DB_HOST=
DB_HOST_TEST =
DB_USER=''
DB_PASSWORD=''
DB_NAME=''
JWT_SECRET_KEY = 

CLOUD_NAME = 
CLOUD_API_KEY =  
CLOUD_API_SECRET = 

UPLOAD_DIR = 
AVATARS_DIR = 
CLOUD_DIR = 

SENDGRID_API_KEY = 

NODEMAILER_GOOGLE_USER = 
NODEMAILER_GOOGLE_PASSWORD = 